<html>
  <head>
    <title>
      {{ title }}
    </title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  </head>
  <body>
    <h1>
      {{ title }}
    </h1>

    <h2>/validate/existing/:gamer/:game</h2>

    <h2>/validate/duplicate/:gamer</h2>

    <h2>/save</h2>


    <script src="//cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/additional-methods.min.js">
    </script>
    <script src="{{ url_for('static', filename='index.js') }}">
    </script>

  </body>
</html>
