<html>
  <head>
    <title>
      {{ title }}
    </title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  </head>
  <body>
    <h1>
      {{ title }}
    </h1>

    <h2>Identity</h2>

    <form id="id-form">
      <h3>World of Warcraft</h3>
      <fieldset>
        <input class="username form-control" type="text"
               data-game-set="wow"
               value="jwalsh"
               name="ta-WOW-id" id="ta-WOW-id" placeholder="Character Name">
        <select class="form-control"
                data-game-set="wow"
                id="sl-WOW-realm">
          <option value="">Select Realm</option>
          <option value="aegwynn" selected>Aegwynn (PvP)</option>
          <option value="zuluhed">Zuluhed (PvP)</option>
        </select>
      </fieldset>
      <h3>League of Legends</h3>
      <fieldset>
        <input class="username form-control" type="text"
               data-game-set="lol"
               name="ta-LOL-id" id="ta-LOL-id" placeholder="Summoner Name">
        <select class="form-control"
                data-game-set="lol"
                id="sl-LOL-region">
          <option value="">Select Region</option>
          <option value="na">North Ameria</option>
          <option value="oec">Oceania</option>
        </select>
      </fieldset>
      <h3>Gender</h3>
      <select class="form-control" id="sl-gender" required>
        <option value="">Select Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="others">Others</option>
      </select>
      <p>
        <input class="btn btn-large" id="validate-game-exists" type="submit" value="Validate Game Exists">
      </p>
      <p>
        <input class="btn btn-large" type="submit" value="Validate All">
      </p>
    </form>



    <h2>
      <a href="/api/validate/existing/:game/:gamer">
        /api/validate/existing/:game/:gamer
      </a>
    </h2>

    <a href="#"
       id="validate-existing-gamer"
       class="btn btn-success btn-large">
      <i class="icon-white icon-ok"></i> Existing</a>

    <h2>
      <a href="/api/validate/duplicate/:game/:gamer">
        /api/validate/duplicate/:game/:gamer
      </a>
    </h2>

    <a href="#"
       id="validate-duplicate-gamer"
       class="btn btn-success btn-large">
      <i class="icon-white icon-ok"></i> Duplicate</a>

    <h2>
      <a href="/api/save">
        /api/save
      </a>
    </h2>

    <a href="#"
       id="save"
       class="btn btn-success btn-large">
      <i class="icon-white icon-ok"></i> Save</a>


    <script src="//cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/additional-methods.min.js">
    </script>
    <script src="static/index.js">
    </script>

  </body>
</html>
